/* profile */

.profile {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3rem;
    margin : 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.person {
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.person img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.person h2,p{
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}
